* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem; }

.navbar {
  padding: 2rem 0;
  border-bottom: 1px solid #f0f0f0; }
  .navbar__flex {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .navbar__logo {
    flex-grow: 0;
    flex: 0 1 20rem; }
  .navbar__img {
    width: 100%;
    height: auto; }
  .navbar__menu {
    background-color: #f0f0f0;
    flex: 0 1 70%;
    display: flex;
    align-items: center;
    justify-content: center; }
