* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
}

.custom {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        max-width: 50rem;
    }
}