.navbar {
    padding: 2rem 0;
    border-bottom: 1px solid rgb(240, 240, 240);
    &__flex {
        width: 90%;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        flex-grow: 0;
        flex: 0 1 20rem;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__menu {
        background-color: rgb(240, 240, 240);
        flex: 0 1 70%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}